@model IEnumerable<LX_Ordering.Models.OrderInfo>
@{
    Layout = "~/Views/AdminPage1.cshtml";
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-contacts menu-icon"></i>
            </span>
            订单查看
        </h3>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">订单详情</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        用户
                                    </th>
                                    <th>
                                        菜品
                                    </th>
                                    <th>
                                        数量
                                    </th>
                                    <th>
                                        订购时间
                                    </th>
                                    <th>
                                        留言
                                    </th>
                                    <th>
                                        总价
                                    </th>
                                    <th>
                                        订购类型
                                    </th>
                                    <th>
                                        订购状态
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="~/ClassAdmin/images/faces/face1.jpg" class="mr-2" alt="image">
                                            @item.Client.HeadImage
                                            @item.Client.Name
                                        </td>
                                        <td>
                                            <label class="badge badge-gradient-success">@item.Dish.Name</label>
                                        </td>
                                        <td>
                                            @item.Num
                                        </td>
                                        <td>
                                            @item.OrderTime
                                        </td>
                                        <td>
                                            @item.Leave
                                        </td>
                                        <td>
                                            @item.Total
                                        </td>
                                        <td>
                                            @if ((item.OrderType) == 0)
                                            {
                                                <label class="badge badge-gradient-warning">订餐</label>
                                            }
                                            else
                                            {
                                                <label class="badge badge-gradient-danger">就餐</label>
                                            }
                                        </td>
                                        <td>
                                            @if ((item.Status) == 0)
                                            {
                                                <label style="color:#808080">未付款</label>
                                            }
                                            else if ((item.Status) == 1)
                                            {
                                                <label>已付款</label>
                                            }
                                            else if ((item.Status) == 2)
                                            {
                                                <label>运输中</label>
                                            }
                                            else if ((item.Status) == 3)
                                            {
                                                <label>未评价</label>
                                            }
                                            else if ((item.Status) == 4)
                                            {
                                                <label>已评价</label>
                                            }
                                        </td>
                                        <td>
                                            @if ((item.OrderType) == 0 && (item.Status) == 1)
                                            {
                                                <input id="Button1" type="button" value="点击上菜" onclick="location.href='/Admin/UpdOrder?id='+@item.Id"/>
                                            }
                                            else if ((item.OrderType) == 1 && (item.Status) == 1)
                                            {
                                                <input id="Button1" type="button" value="点击发货" onclick="location.href='/Admin/UpdOrder1?id='+@item.Id" />
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/ClassAdmin/images/faces/face2.jpg" class="mr-2" alt="image">
                                            Stella Johnson
                                        </td>
                                        <td>
                                            High loading time
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td>
                                            Dec 12, 2017
                                        </td>
                                        <td>
                                            WD-12346
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/ClassAdmin/images/faces/face3.jpg" class="mr-2" alt="image">
                                            Marina Michel
                                        </td>
                                        <td>
                                            Website down for one week
                                        </td>
                                        <td>
                                            <label class="badge badge-gradient-info">ON HOLD</label>
                                        </td>
                                        <td>
                                            Dec 16, 2017
                                        </td>
                                        <td>
                                            WD-12347
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/ClassAdmin/images/faces/face4.jpg" class="mr-2" alt="image">
                                            John Doe
                                        </td>
                                        <td>
                                            Loosing control on server
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td>
                                            Dec 3, 2017
                                        </td>
                                        <td>
                                            WD-12348
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
