@model IEnumerable<LX_Ordering.Models.OrderInfo>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>ShopCar</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <link href="~/cpts_221_eq/css/bootstrap.css" rel="stylesheet" />
    <link href="~/cpts_221_eq/css/style.css" rel="stylesheet" />
    <script src="~/cpts_221_eq/js/jquery.min.js"></script>
    <script src="~/cpts_221_eq/js/simpleCart.min.js"></script>

    <script src="~/cpts_221_eq/js/jquery.flexisel.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Spicemystery Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

</head>
<body>
    @*header*@
    <div class="head-top">
    </div>
    <div class="header1">

        <div class="container">
            <div class="logo">
                <a href="/Client/Index">
                    <img src="~/cpts_221_eq/images/logo.png" class="img-responsive" alt="" />
                    @*<img src="images/logo.png" class="img-responsive" alt="">*@
                </a>
            </div>
            <div class="header-lefts">
                <div class="head-nav">
                    <span class="menu"> </span>
                    <ul>
                        <li><a href="/Client/Index">主页</a></li>
                        <li><a href="/Client/Ordering">我的订单</a></li>
                        <li><a href="/Client/Login">注册/登陆</a></li>
                        <li><a href="/Client/Contact">联系</a></li>
                    </ul>
                    <!-- script-for-nav -->
                    <script>
                        $("span.menu").click(function () {
                            $(".head-nav ul").slideToggle(300, function () {
                                // Animation complete.
                            });
                        });
                    </script>
                    <!-- script-for-nav -->
                </div>
                <div class="header-right1">
                    <div class="cart box_1">
                        <a href="/Client/ShopCar">
                            <h3>
                                <span class="simpleCart_total" id="shopSum"> $0.00 </span>
                                (<span id="simpleCart_quantity" class="simpleCart_quantity"> @ViewBag.orderNum </span> items)
                                <img src="~/cpts_221_eq/images/bag.png" />

                            </h3>
                        </a>
                        <p><a href="/Client/EmptyCar?id=@Session["Clientid"]" class="simpleCart_empty">清空购物车</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>

    @*carItem*@
    <div class="cart-items">
        <div class="container">
            <h1> (@ViewBag.orderNum) 种商品 </h1>
            <input id="checkedAll" type="checkbox" />全选

            @foreach (var item in Model)
            {
                <script>
                    $(document).ready(function (c) {
                        $('.close1').on('click', function (c) {
                            $('.cart-header').fadeOut('slow', function (c) {
                                $('.cart-header').remove();
                            });
                        });
                    });
                </script>

                <div class="cart-header">
                    <div class="close1">
                        @Ajax.ActionLink(" ", "DeleteOrder", new { id = item.Id }, new AjaxOptions() { Confirm = "是否确认删除？", OnSuccess = "del" })

                    </div>
                    <div class="cart-sec simpleCart_shelfItem">
                        <div class="cart-item cyc">
                            @*<img src="~/cpts_221_eq/images/6p.jpg" class="img-responsive" alt="" />*@

                            <img src=" @item.Dish.Image" />
                            <input id="Checkbox1" type="checkbox" class="ch" value="@item.Id" />
                        </div>
                        <div class="cart-item-info">
                            <h2><a href="#">  </a>@item.Dish.Name</h2>
                            <h3><a href="#">  </a></h3>
                            <h3><a href="#">  </a><span style="font-size:larger;color:red" class="price">单价 @item.Dish.Price:元</span></h3>
                            <p>

                                <input id="Nums" type="hidden" value="@ViewBag.num" />
                                <input id="Ids" type="hidden" value="@ViewBag.Ids" />
                                <ul class="qty">
                                    <li>
                                        <a class="morebtn hvr-rectangle-in" href="#" onclick="NumAdd(@item.Id)">+</a>
                                    </li>
                                    <span style="font-size:larger;color:red" class="num">@item.Num</span>
                                    <li>
                                        <a class="morebtn hvr-rectangle-in" href="#" onclick="NumReduce(@item.Id)" id="Reduce">-</a>
                                        @*<a class="morebtn hvr-rectangle-in" href="/Client/ShopNumReduce?Id=@item.Id">-</a>*@
                                    </li>
                                </ul>

                            </p>

                            <div class="delivery">
                                <p>需要花费 :@item.Total 元</p>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            }

        </div>


        @*结算*@
        <div class="cart-item cyc">
            <div class="cur">
                <div class="cur-left">
                    <div class="item_add">
                        <span class="item_price">
                            <a class="morebtn hvr-rectangle-in" href="#" onclick="Buy()">购买</a>
                        </span>
                        <span class="item_price"></span>
                    </div>
                </div>
                <div class="cur-right">
                    <div class="item_add"><span class="item_price"><h3 style="color:red">总金额:<span id="MoneySum"></span>元</h3></span></div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    <div>
    </div>
</body>
</html>
<script>
    function del(data) {
        if (data > 0) {
            alert('删除订单成功');
            location.reload();
        }
        else {
            alert('失败');
        }
    }
    //次数加
    function NumAdd(id) {

        $.ajax({
            url: '/Client/ShopNumAdd?Id=' + id,
            type: 'get',
            dataType: 'text',
            success: function (data) {
                if (data == "0") {
                    alert("X");
                }
                else {
                    //$(".num").text(data);
                    location.reload();
                }
            }
        })
    }
    var num = $(".num").text();
    //次数减
    function NumReduce(id) {
        if (Number(num) > 1) {
            $.ajax({
                url: '/Client/ShopNumReduce?Id=' + id,
                type: 'get',
                dataType: 'text',
                success: function (data) {
                    if (data == "0") {
                        alert("X");
                    }
                    else {
                        location.reload();
                    }
                }
            })
        }
        else
        {
            $(this).prop("disabled","disabled");
        }
    }
    $(function () {
        //$("inpudt[type='checkbox']").prop("checked", true);
        //全选
        $("#checkedAll").change(function () {
            $(".ch").prop("checked", $("#checkedAll").prop("checked"));

            var id = [];
            $(".ch:checked").each(function () {
                id.push($(this).val());
            })
            GetTotal(id);

        })
        $(".ch").click(function () {
            var id = [];
            $(".ch:checked").each(function () {
                id.push($(this).val());
            })
            GetTotal(id);
        })
    })
    //计算总金额的方法
    function GetTotal(id) {
        $.ajax({
            url: '/Client/GetTotal?Id=' + id,
            type: 'get',
            dataType: 'text',
            success: function (data) {
                if (data.length==0) {
                    alert("X");
                }
                else {
                    $("#MoneySum").text(data);
                }
            }
        })
    }
    //购买
    function Buy()
    {
        var id = "";
        $(".ch:checked").each(function () {
            id += $(this).val()+",";
        })
        if (id == "") {

        }
        else
        {
            id = id.substring(0, id.length - 1);
            location.href = "/Client/Ordering?id=" + id;
        }
    }
</script>