@model IEnumerable<LX_Ordering.Models.OrderInfo>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>ShopCar</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <link href="~/cpts_221_eq/css/bootstrap.css" rel="stylesheet" />
    <link href="~/cpts_221_eq/css/style.css" rel="stylesheet" />
    <script src="~/cpts_221_eq/js/jquery.min.js"></script>
    <script src="~/cpts_221_eq/js/simpleCart.min.js"></script>

    <script src="~/cpts_221_eq/js/jquery.flexisel.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Spicemystery Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

</head>
<body>
    @*header*@
    <div class="head-top">

    </div>
    <div class="header1">

        <div class="container">
            <div class="logo">
                <a href="/Client/Index">
                    <img src="~/cpts_221_eq/images/logo.png" class="img-responsive" alt="" />
                    @*<img src="images/logo.png" class="img-responsive" alt="">*@
                </a>
            </div>
            <div class="header-lefts">
                <div class="head-nav">
                    <span class="menu"> </span>
                    <ul>
                        <li><a href="/Client/Index">主页</a></li>
                        <li><a href="/Client/Ordering">我的订单</a></li>
                        <li><a href="/Client/Login">注册/登陆</a></li>
                        <li><a href="/Client/Contact">联系</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <!-- script-for-nav -->
                    <script>
                        $("span.menu").click(function () {
                            $(".head-nav ul").slideToggle(300, function () {
                                // Animation complete.
                            });
                        });
                    </script>
                    <!-- script-for-nav -->
                </div>
                <div class="header-right1">
                    <div class="cart box_1">
                        <a href="/Client/ShopCar">
                            <h3>
                                <span class="simpleCart_total" id="shopSum"> $0.00 </span>
                                (<span id="simpleCart_quantity" class="simpleCart_quantity"> @ViewBag.orderNum </span> items)
                                <img src="~/cpts_221_eq/images/bag.png" />

                            </h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">清空购物车</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>

    @*carItem*@
    <div class="cart-items">
        <div class="container">
            <h1> (@ViewBag.orderNum) 种商品 </h1>
            <input id="checkedAll" type="checkbox"/>全选

            @foreach (var item in Model)
            {
               
                <script>
                    $(document).ready(function (c) {
                        $('.close1').on('click', function (c) {
                            $('.cart-header').fadeOut('slow', function (c) {
                                $('.cart-header').remove();
                            });
                        });
                    });
                </script>

                <div class="cart-header">
                    <div class="close1">
                        @Ajax.ActionLink("移除", "DeleteOrder", new { id = item.Id }, new AjaxOptions() { Confirm = "是否确认删除？", OnSuccess = "del" })
                       
                    </div>
                    <div class="cart-sec simpleCart_shelfItem">
                        <div class="cart-item cyc">
                            @*<img src="~/cpts_221_eq/images/6p.jpg" class="img-responsive" alt="" />*@
                         
                            <img src=" @item.Dish.Image" />
                            <input id="Checkbox1" type="checkbox" class="ch" value="@item.Id" />
                        </div>
                        <div class="cart-item-info">
                            <h2><a href="#">  </a>@item.Dish.Name</h2>
                            <h3><a href="#">  </a><span style="font-size:larger;color:red" class="num">@item.Num:份</span></h3>
                            <h3><a href="#">  </a><span style="font-size:larger;color:red" class="price">单价 @item.Dish.Price:元</span></h3>
                            <p>

                                <input id="Nums" type="hidden" value="@ViewBag.num" />
                                <input id="Ids" type="hidden" value="@ViewBag.Ids" />
                                <ul class="qty">
                                    <li>
                                        <a class="morebtn hvr-rectangle-in" href="#" onclick="shopNumAdd()">+</a>

                                        @*<a class="morebtn hvr-rectangle-in" href="/Client/ShopNumAdd?Id=@item.Id">+</a>*@
                                    </li>
                                    <li>
                                        <a class="morebtn hvr-rectangle-in" href="#" onclick="shopNumReduce()">-</a>
                                        @*<a class="morebtn hvr-rectangle-in" href="/Client/ShopNumReduce?Id=@item.Id">-</a>*@
                                    </li>
                                </ul>

                            </p>

                            <div class="delivery">

                                <p>需要花费 :@(item.Num) * @(item.Dish.Price)元</p>
                                <span>下单时间:@item.OrderTime </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            }
            
        </div>


        @*结算*@
        <div class="cart-item cyc">
            <div class="cur">
                <div class="cur-left">
                    <div class="item_add">
                        <span class="item_price">
                            <a class="morebtn hvr-rectangle-in" href="#" onclick="GetTotal()">结算:</a>
                        </span>
                        <span class="item_price"></span>
                    </div>
                </div>
                <div class="cur-right">
                    <div class="item_add"><span class="item_price"><h3 style="color:red">总金额:  元</h3></span></div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-6 company_address">
            <h4>地址</h4>
            <p>安徽省临泉县</p>
            <p>Phone:(00) 222 666 444</p>
            <p>Email: <a href="mailto:info@example.com">info@mycompany.com</a></p>

        </div>
    </div>

    <div>
    </div>
</body>
</html>
<script>
    function del(data) {
        if (data > 0) {
            alert('删除订单成功');
            location.reload();
        }
        else {
            alert('失败');
        }
    }

    $(function () {

        //$("inpudt[type='checkbox']").prop("checked", true);
        //全选
        $("#checkedAll").change(function () {
            $(".ch").prop("checked", $("#checkedAll").prop("checked"));
           
            GetTotal();

        })

        $(".ch").click(function () {
            var len = $(".ch").length;
            var checkedLen = $(".ch:checked").length;
            if (len == checkedLen) {
                //商品全部选中
                $("#checkedAll").prop("checked", true);
            }
            else
            {
                //只选择了一部分
                $("#checkedAll").prop("checked", false);
            }
            GetTotal();
        })


    })
    //计算总金额的方法
    function GetTotal() {
        var sums = 0;
        $(".ch").each(function () {
            if (this.checked == true) {
                var shopNum = $(this).find(".num").val();
                var shopPrice = $(this).find(".price").val();
                sums += shopNum * shopPrice;
            }
        });

        //总金额
        $("#shopSum").text(sums);
        //购买了多少个
        var shopCount = $(".ch").length;
        $("#simpleCart_quantity").text(shopCount)

    }

    //修改数量+
    function shopNumAdd() {
        var nums = $("#Nums").val();
        var ids = $("#Ids").val();
        $.ajax({
            url: "http://localhost:62418/api/OrderAPI/UpdOrder",
            type: "post",
            dataType: "text",
            data: { Id: ids, Num: nums },
            success: function (data) {
                nums++;
                if (data > 0) {
                    alert('添加数量成功')
                }
            }
        })
    }
    //减数量
    function shopNumReduce()
    {
        var nums = $("#Nums").val();
        var ids = $("#Ids").val();
        $.ajax({
            url: "http://localhost:62418/api/OrderAPI/UpdOrder",
            type: "post",
            dataType: "text",
            data: { Id: ids, Num: nums },
            success: function (data) {
                nums--;
            }
        })

    }




    //$(function () {

       // $("#Nums").val('@ViewBag.Num');
   // })
    //function upNum(By) {
    //    switch (By)
    //    {
    //        case '-':
    //            if ($("#Nums").val() > 0)
    //            {
    //                var numberms = $("#Nums").val(Number($("#Nums").val()) - 1);
    //                location.href = "/Client/ShopNumAdd?Id=" + $("#Ids").val() + "&Num=" + numberms;
    //            }
    //            else
    //            {
    //                alert('当前数量为0！数量不能小于0')
    //            }
    //            break;
    //        case '+':
    //            var numberms=$("#Nums").val(Number($("#Nums").val()) - 1);
    //            location.href = "/Client/ShopNumAdd?Id=" + $("#Ids").val() + "&Num=" + numberms; 
    //            break;
    //        default:
    //    }
    //}
</script>