@model LX_Ordering.Models.ClientInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <title>Spicemystery a Hotel and Resturant Category Flat Bootstarp Responsive Website Template | Home :: w3layouts</title>
    <link href="~/cpts_221_eq/css/bootstrap.css" rel="stylesheet" />
    <link href="~/cpts_221_eq/css/style.css" rel="stylesheet" />
    <script src="~/cpts_221_eq/js/jquery.min.js"></script>
    <script src="~/cpts_221_eq/js/simpleCart.min.js"></script>

    <script src="~/cpts_221_eq/js/jquery.flexisel.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Spicemystery Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/ueditor/jquery-form.js"></script>
    <script src="~/ueditor/ueditor-upload.js"></script>

    <script src="~/layui/layui.all.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />

</head>
<body>
    <div class="head-top">

    </div>
    <div class="header1">

        <div class="container">
            <div class="logo">
                <a href="/Client/Index">
                    <img src="~/cpts_221_eq/images/logo.png" class="img-responsive" alt="" />
                    @*<img src="images/logo.png" class="img-responsive" alt="">*@
                </a>
            </div>
            <div class="header-lefts">
                <div class="head-nav">
                    <span class="menu"> </span>
                    <ul>
                        <li><a href="/Client/Index">Home</a></li>
                        <li><a href="/Client/Ordering">我的订单</a></li>
                        @if (Session["Clientid"] == null)
                        {
                            <li class="active"><a href="/Client/Login">注册/登陆</a></li>
                        }
                        else
                        {
                            <li class="active"><a href="/Client/Login">@Session["ClientName"]</a></li>
                        }
                        <li><a href="/Client/Contact">联系</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <!-- script-for-nav -->
                    <script>
                        $("span.menu").click(function () {
                            $(".head-nav ul").slideToggle(300, function () {
                                // Animation complete.
                            });
                        });
                    </script>
                    <!-- script-for-nav -->
                </div>
                <div class="header-right1">
                    <div class="cart box_1">
                        <a href="/CMS/ShopCar">
                            <h3>
                                <span class="simpleCart_total"> $0.00 </span>
                                (<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span> items)
                                <img src="~/cpts_221_eq/images/bag.png" />
                                @*<img src="images/bag.png" alt="">*@
                            </h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">清空购物车</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>

    @*注册*@
    <div class="main-1" style="background-color:azure">
        <div class="container">
            <div class="register">
                <div style="width:50%;margin-left:25%;margin-top:-100px;">
                    @using (Html.BeginForm())
                    {
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width:100px;">头像</label>
                                <div class="layui-input-block">
                                    <input type="text" id="HeadImage" name="HeadImage" required lay-verify="required" placeholder="点击选择头像" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width:100px;">姓名</label>
                                <div class="layui-input-block">
                                    <input type="text" id="Name" name="Name" required lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width:100px;">省</label>
                                <div class="layui-input-block">
                                    <select id="Pid" name="Pid" lay-verify="required">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width:100px;">市</label>
                                <div class="layui-input-block">
                                    <select id="Cid" name="Cid" lay-verify="required">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width:100px;">县</label>
                                <div class="layui-input-block">
                                    <select id="Aid" name="Aid" lay-verify="required">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width:100px;">详细地址</label>
                                <div class="layui-input-block">
                                    <input type="text" id="Addr" name="Addr" required lay-verify="required" placeholder="请输入详细地址" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width:100px;">手机号</label>
                                <div class="layui-input-block">
                                    <input type="text" id="Tel" name="Tel" required lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width:100px;">验证码</label>
                                <div class="layui-input-block">
                                    <input type="text" name="Y" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input" style="width:300px;display:inline">
                                    <button class="layui-btn layui-btn-primary" onclick="loaction.href='/Client/GetYz'">发送验证码</button>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width:100px;">账号密码</label>
                                <div class="layui-input-block">
                                    <input type="password" id="Pwd" name="Pwd" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width:100px;">支付密码</label>
                                <div class="layui-input-block">
                                    <input type="password"  id="PayPwd"name="PayPwd" required lay-verify="required" placeholder="请输入支付密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>同意条款</label>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <input class="layui-btn" type="submit" value="立即注册" />
                                    <a class="layui-btn " href="/Client/Login">已有账号去登录</a>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</body>
</html>
<script>
    $(function () {
        $("#HeadImage").upload();
        $("#Name").val("@Model.Name");
        $("#Pid").val("@Model.Pid");
        $("#Cid").val("@Model.Cid");
        $("#Aid").val("@Model.Aid");
        $("#Addr").val("@Model.Addr");
        $("#Tel").val("@Model.Tel");
        $("#Pwd").val("@Model.Pwd");
        $("#PayPwd").val("@Model.PayPwd");
        GetDrop(0, "Pid");
        $("#Pid").change(function () {
            GetDrop($(this).val(), "Cid");
            //GetDrop($("#Cid").val(), "Aid");
            $("#Aid").empty();
            $("#Aid").append("<option>请选择</option>");
        })
        $("#Cid").change(function () {
            GetDrop($(this).val(), "Aid");
        })
    })
    function GetDrop(id, SelectId) {
        $.ajax({
            url: "/Client/GetDropList?id=" + id,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                if (data.length > 0) {
                    $("#" + SelectId).empty();
                    for (var i = 0; i < data.length; i++) {
                        $("#" + SelectId).append("<option value=" + data[i].Id + ">" + data[i].Name + "</option>");
                    }
                }
            }
        })
    }
    //Demo
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
